body {
  font-family: "Satoshi-Variable", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin-bottom: 0;
  color: #ededed;
}

a {
  color: #ededed;
  text-decoration: none;
  padding: 0;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #fd5d2c;
  /* text-decoration: underline; */
}

span {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.2s linear;
}

.hover-this span:hover {
  text-decoration: underline;
}

.fw-xbold {
  font-weight: 800;
}
